html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}
/*html body*/
html, body {
  height: 100%;
}
/*bootstrap body*/
body{
  background-color: #5E8292 !important;
}
/* navbar */
.navbar-track {
  background-color: #396476;
  border-color: #396476;
  color:#03222F;
}
.nav > li.dropdown.open {
  position: static;
}
.nav > li.dropdown.open .dropdown-menu {
  display:table;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #234E61;
  background-color: gray;
}
.dropdown-menu>li {
  display: table-cell;
}